/* Atividade 1 */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Atividade 2 */
h1, h2 {
    color: #0f172a;
}

/* Atividade 3 */
h1 {
    letter-spacing: 2px;
}

/* Atividade 4 */
p {
    line-height: 1.6;
}

/* Atividade 5, 15 e 20*/
button {
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #475569;
}

/* Atividade 6, 9 e 13*/
.cartao {
    border: 1px solid #cbd5e1;
    margin: 20px 10px;
    background-color: white
}

/* Atividade 7 e 8*/
.container {
    max-width: 800px;
    margin: auto;
}